header{
    color: greenyellow;
    background-color: black;
    height: 120px;
    display: inline-flex;
    width: 100vw;
}

h1{
    text-align: left;
    margin: 0px 5px 5px 5px;
}

.driveState{
    padding: 25px 5px 5px 25px;
    font-size: xx-large;
}

.home-button{
    padding: 5px 5px 5px 5px;
    color: greenyellow;
    background-color: black;
    height: 100px;
    width: 400px;
    align-self: center;
    align-content: center;
    font-size: larger;
    outline-style: auto;
    outline-color: black;
    outline-width: 20px;
}

img{
    width:100%;
    height:auto;
}