.title{
    font-size: larger;
}
.s-cell{
    padding: 10px 10px 10px 10px;
    background-color: black;
    border: 2px solid greenyellow;
    color: greenyellow;
    width: 9.5vw;
    height: 18vw;
}

.s-cell:hover{
    background-color: greenyellow;
    color: black;
}

.cell-row{
    display: inline-flex;
}